@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

/*//////////////////////regole generiche/////////////////////*/

*{
	margin: 0;
	padding: 0;
	color: white;
	box-sizing: border-box;
	font-family: 'Josefin Sans', sans-serif;
}

html{
	height: 100%;
	font-size: 14pt;
}

body{
	background-color: #2C2C2C;
	margin: 0;
}

img{
	max-width: 100%;
}

h2{
	text-align: center;
	font-weight: 500;
	font-size: 35pt;
	margin: 1.5em;
	margin-top: 2em;
}

h3{
	font-size: 25pt;
}

a{
	color: white;
	text-decoration: none;
}

ul{
	list-style-type: none;
	list-style-position: inside;
}

fieldset{
	border: none;
}

:visited, a:visited, a:visited span{
	color: #FD8;
}

.accent{
	color: #4cc3ff;
}

.success{
	color: #9F9;
	padding: 0 2em;
	font-size: 15pt;
}

#error, .error, #edit_error, #proj_error{
	color: #F99;
	padding: 0 2em;
	font-size: 15pt;
}

#error span, .error span, #edit_error, #proj_error{
	color: #F99;
}

.bottone{
	display: block;
	font-size: 13pt;
 	font-weight: 200;
 	padding: 1em 2em;
 	background-color: #0070A8;
 	text-align: center;
 	margin: 2em 0;
 	border: 2px solid white
}

.bottone:hover, .bottone:focus{
	background-color: #004366;
	transform: scale(1.1);
}

.bottone:disabled{
	background-color: #245976;
	transform: none;
}

.bottone.rosso{
	background-color: #C00;
}

.bottone.rosso:hover, .bottone.rosso:focus{
	background-color: #900;
}

#content, #logo, #menu ul{
	max-width: 1200px;
	margin: auto;
}

.container{
	padding: 1em 2em;
	text-align: left;
}

.container h2, .container h3{
	text-align: left;
	font-size: 30pt;
	margin: 0;
	margin-top: 1em;
}

.container h3{
	font-size: 20pt;
}

.container ul{
	list-style-type: initial;
}

.nodisplay{
	display: none;
}

/*///////////header///////////*/

#header{
	background-color: #242424;
	border-style: solid;
	border-color: #242424;
}

#header h1{
	font-size: 56pt;
	margin: 1em 3em;
	white-space: nowrap;
	text-indent: 100%;
	overflow: hidden;
	background-image: url(../images/scritta_cinema.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}

#logo a{
	width: 7em;
	height: 7em;
	margin: 3em;
	position: absolute;
	background-size: contain;
	background-repeat: no-repeat;
	background-image: url(../images/logo.png);
}

#skip_link a{
	right: 2em;
	top: -100em;
	padding: 0.5em;
	font-size: 15pt;
	position: absolute;
	border: 2px solid white;
	background-color: #00547F;
}

#skip_link a:focus{
	top: 2em;
}

@media screen and (max-width: 850px){
	#header h1{
		margin: 1em auto;
	}

	#logo{
		display: none;
	}
}

@media screen and (max-width: 650px){
	#header h1{
		font-size: 48pt;
		margin: 0.5em auto;
	}
}

@media screen and (max-width: 450px){
	#header h1{
		font-size: 32pt;
	}

	h2, .container h2, h2 span{
		font-size: 25pt;
	}
}

/*////////////////////menu/navbar////////////////////*/

#menu{
	background-color: #00547F;
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	z-index: 10;
}

#menu ul{
	background-color: #00547F;
	list-style-type: none;
	transition-timing-function: ease-out;
	-webkit-transition: left 300ms;
	transition: left 300ms;
	overflow: hidden;
}

#menu li{
	display: inline-block;
	display: block;
	float: left;
}

#menu a{
	background-color: #00547F;
	border: 2px solid #00547F;
	display: block;
	text-align: center;
	padding: 1em;
	font-size: 13pt;
}

#menu .active{
	background-color: #0070A8;
	border-color: #0070A8;
}

#menu li a:hover:not(.active){
	background-color: #004366;
	border-color: #004366;
}

#menu li a:focus{
	background-color: #004366;
	border-color: white;
}

#menu li.right{
	float: right;
}

#menu .mobile_only{
	display: none;
}

#menu .mobile_only img{
	width: 50%;
	margin: 2em auto;
	margin-top: 3em;
	display: block;
}

#menu li.mobile_logo div{
	width: 7em;
	height: 7em;
	margin: 2em auto;
	margin-top: 3em;
	background-size: contain;
	background-repeat: no-repeat;
	background-image: url(../images/logo.png);
}


#menu #mobile_background{
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.5);
	height: 100%;
	width: 100%;
}

@media screen and (max-width: 850px){
	#menu a{
		padding: 1em 0.6em;
	}
}

@media screen and (max-width: 650px){
	#menu:not(.js_on){
		position: static;
	}

	#menu.js_on ul{
		position: fixed;
		height: 100%;
		width: 60%;
		left: -60%;
		top: 0;
	}

	#menu.menuopen ul{
		left: 0;
	}

	#menu li{
		display: block;
		width: 100%;
	}

	#menu.js_on .mobile_only{
		display: block;
	}

	#menu.menuopen #mobile_background{
		display: block;
	}
}

@media screen and (max-width: 450px){
	#menu .mobile_only img {
		margin-top: 2em;
		margin-bottom: 1em;
	}
}

/*/////////////////footer/////////////////////*/

#footer{
	width: 100%;
	margin-top: 3em;
	background-color: #242424;
}

#footer>div{
	max-width: 1200px;
	margin: auto;
	padding: 2em;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

#footer .footer_social{
	flex: 0 1 14em;
}

.footer_social ul{
	list-style-type: none;
}

.footer_social li{
	padding: 0.8em 0;
}

#footer .footer_credits{
	text-align: center;
	flex: 0 2 33em;
	margin: auto;
	padding-top: 4em;
	background-image: url(../images/scritta_cinema.png);
	background-position: center top;
	background-repeat: no-repeat;
	background-size: 20em;
}

#footer .footer_validation{
	text-align: right;
	order: 3;
	flex: 0 1 14em;
}

@media screen and (max-width: 900px){
	#footer .footer_credits{
		background-size: 90%;
		padding-top: 3em;
		margin-top: 1em;
	}
}
@media screen and (max-width: 650px){
	#footer>div{
		flex-wrap: wrap;
		padding: 2em;
	}

	#footer .footer_credits{
		width: inherit;
		order: 4;
		background-size: 16em;
	}

	#footer .footer_credits img{
		padding: 2em;
		padding-bottom: 0.5em;
	}

	#footer .footer_social, #footer .footer_validation{
		flex-basis: 50%;
	}
}

@media screen and (max-width: 350px){
	#footer .footer_credits{
		background-size: contain;
	}
}

/*//////////////locandina film///////////////*/

.locandina_container{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.locandina{
	width: 16em;
	height: 30em;
	margin: 1.5em;
	position: relative;
	box-sizing: border-box;
}

.locandina a{
	display: block;
}

.locandina div.image{
	position: relative;
}

a.title, a.title span{
	font-size: 18pt;
	font-weight: 400;
	text-align: center;
	padding-top: 0.5em;
}

.locandina img{
	width: 100%;
	height: 25em;
	object-fit: cover;
	transition: 500ms ease;
}

a.button_hover{
	padding: 1em;
	display: block;
	background-color: #0070A8;
	position: absolute;
	top: 50%;
	left: 50%;
	opacity: 0;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transition: 500ms ease;
}

a.button_hover:hover{
	background-color: #004366;
}

a.button_hover:focus{
	outline: 2px solid white;
	background-color: #004366;
}

.locandina:hover img {
	opacity: 0.5;
}

.locandina:hover .button_hover{
	opacity: 1;
}

@media screen and (max-width: 800px){
	#sett{
		font-size: 20pt;
	}
}

/*//////////////////forms////////////////////////*/

#login_form label, #login_form legend,
#signup_form legend,
#change_password label, #change_password legend,
#edit_film label,
#edit_projection label, #add_film label{
	font-size: 20pt;
	padding: 0.5em;
	display: block;
	margin: auto;
	text-align: center;
}

#login_form #username_input, #login_form #password_input,
#signup_form input[type="text"], #signup_form input[type="password"],
#change_password input[type="password"],
#edit_film input[type="text"],
#edit_projection input[type="text"], #edit_projection select, #edit_film input[type="int"], #edit_film textarea, #edit_film input[type="file"],
#add_film input[type="int"], #add_film textarea, #add_film input[type="file"], #add_film input[type="text"]{
	display: block;
	margin: auto;
	font-size: 14pt;
	width: 18em;
	padding: 1em;
	margin-bottom: 1em;
	border-radius: 1em;
	border: none;
	color: black;
	max-width: 100%;
}

#login_form input.bottone,
#signup_form input.bottone,
#change_password input.bottone,
#edit_film input.bottone,
#add_film input.bottone,
#edit_projection input.bottone{
	margin: 3em auto;
}

/*////////////////////signup/login////////////////////*/

.p_sign_log, .p_sign_log~#error,
#change_password #error, #edit_error, #proj_error{
	font-size: 15pt;
	text-align: center;
	margin: 1em;
}

#login_form, #change_password{
	margin: 1em;
	margin-top: 2em;
}

#login_form legend span,
#signup_form legend span,
#change_password legend span{
	font-size: 20pt;
}

#signup_form legend,
#change_password legend{
	margin-bottom: 1.5em;
}

#signup_form{
	margin: 1em;
	margin-top: 3em;
	text-align: center;
}

#signup_form fieldset,
#change_password fieldset{
	margin: auto;
	display: inline-block;
	max-width: 100%;
}

#signup_form label{
	width: 10em;
	font-size: 20pt;
	padding: 0.5em;
	float: left;
	text-align: right;
}

/*///////////////////////dettagli film/////////////////////*/

.film_details{
	overflow: auto;
	padding: 0 2em;
}

.film_details img{
	float: left;
	width: 20em;
	margin: auto;
	display: block;
	margin: 0 2em 2em 0;
}

.film_details ul li{
	padding: 0.5em 0;
}

#form_details input{
	margin-top: 0.8em;
}

/*////////////////////////////info/////////////////////////////*/

#content table{
	border: solid;
	border-color: #4cc3ff;
	margin-top: 1.5em;
	padding: 0.8em;
}

#content th{
	font-size: 15pt;
	font-weight: 400;
	padding: 0.3em 0.1em;
}

#content td{
	padding: 0.25em 0.1em;
	font-size: 13pt;
	font-weight: 200;
}

#content td:last-of-type {
	white-space: nowrap;
}

#content table caption{
	font-weight: 500;
	font-size: 29pt;
	margin: 1em;
}

/*//////////////////////////contatti/////////////////////////////*/

#contact_list{
	list-style: none;
	margin-top: 0.5em;
	font-size: 20pt;
}

/*/////////////////////////programmazione////////////////////////*/

.tabs{
	margin: auto;
	list-style-type: none;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.tabs li a{
	background-color: #00547F;
	border: 2px solid #00547F;
	display: block;
	margin: 1em;
	padding: 1em;
	font-size: 13pt;
	border-radius: 5em;
	/*box-sizing: all;*/
}

.tabs li a:hover:not(.active){
	background-color: #004366;
	border-color: #004366;
}

.tabs li a:focus{
	background-color: #004366;
	border-color: white;
}

.tabs .active{
	background-color: #0070A8;
	border-color: #0070A8;
}

/*///////////////////prenotazione////////////////////*/

#form_n_posti{
	padding: 1em 2em;
	text-align: center;
}

#form_n_posti label, #form_n_posti legend{
	font-size: 20pt;
}

#form_n_posti legend{
	margin-bottom: 0.5em;
}

#form_n_posti select{
	transform: scale(1.2);
	margin: 0.5em;
	color: black;
}
 #form_n_posti .bottone {
	 margin: 1.5em auto;
}

/*/////////////////lista prenotazioni////////////////*/

.prenotazione{
	padding: 2em;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
  justify-content: center;
}

.prenotazione img{
	width: 10em;
}

.prenotazione ul{
	padding: 0 2em;
	list-style: none;
}

.prenotazione li{
	padding: 0.5em;
}

.prenotazione legend {
	display: none;
}

/*////////////////////////////amministrazione////////////////////////////*/

.bottone.admin{
	width: 14em;
	margin: 2em auto;
}

.bottone.proiezioni.mobile.admin{
	display: none;
}

.bottone.proiezioni.admin{
	display: block;
}

/*////////////////////////////area personale////////////////////////////*/

.utente ul{
	hyphens: auto;
	text-align: center;
	list-style: none;
}

.utente li{
	padding: 0.5em 0;
	font-size: 20pt;
}

.utente.bottone{
	width: 14em;
	margin: 2em auto;
}

/*//////////////////////////amministrazione///////////////////////*/
.container.lista_proiezioni{
	padding: 0 2em;
}

.lista_proiezioni table{
	width: 100%;
	text-align: center;
	border-collapse: collapse;
}

#content .proie_table td{
	border-bottom: 0.10em solid #4cc3ff;
	padding: 1.5em;
}

#content .proie_table th {
	border-bottom: 0.2em solid #4cc3ff;
	padding: 1.5em;
}

#content .proie_table tr:hover{
	background-color:#494a4a;
}

#content .proie_table a {
	background-color: #0070A8;
	border-color: white;
	border: solid;
	padding: 0.5em;
	margin: 0.2em;
}

#content .proie_table .delete_butt {
		background-color: red;
}

#content .proie_table .delete_butt:hover{
		background-color: #b30000;
}

#content .proie_table a:hover {
	background-color: #004366;
}

/*//////////////////////////////edit_film//////////////////////*/

#edit_film input, #edit_film textarea, #add_film input, #add_film textarea{
		text-align: center;
}

#edit_film textarea, #add_film textarea {
	width: 70%;
	height: 12em;
}

#edit_film #cast, #edit_film #genere, #add_film #cast, #add_film #genere {
		height: 5em;
}

#edit_film input[type="file"], #add_film input[type="file"]{
	color: white;
}

#edit_p {
	text-align: center;
}

/*////////////////////////////upcoming/pastschedule////////////////////////////*/

 #content .paginazione {
	 margin: 5em auto;
	 text-align: center;
}

 #content .paginazione  li {
	 display: inline-block;
}

#content .paginazione  li a{
	padding: 1em;
	display: block;
	background-color: #0070A8;
	border:solid;
	border-color: white;
	border-width: thin;
}

#content .paginazione  li a:hover:not(.active) {
	background-color: #004366;

}

#content .paginazione .active  {
	background-color: #00547F;
}

/*////////////////////////////mobile////////////////////////////*/

@media screen and (max-width: 1000px){
	#content .proie_table td, #content .proie_table th{
		padding: 1.2em 0.8em;
	}
}

@media screen and (max-width: 800px){
	/*//////////////////////regole generiche///////////////////////*/
	h2{
		font-size: 25pt;
	}

	/*///////////////////area personale/////////////////////*/
	.utente li{
		font-size: 18pt;
	}

	/*/////////////////////prenotazione/////////////////////*/

	.prenotazione ul{
		padding: 1em;
		text-align: center;
	}

	.prenotazione li{
		padding: 0.2em;
	}

	/*//////////////////login/signup/////////////////////*/
	#signup_form label{
		float: none;
	}

	/*//////////////////dettagli film////////////////////*/
	.film_details img{
		float: none;
		margin: auto;
		margin-bottom: 2em;
	}

	.locandina{
		width: 12em;
		height: 22em;
	}

	.locandina img{
		width: 100%;
		height: 18em;
	}

	/*//////////////////amministrazione////////////////////*/
	.bottone.proiezioni.mobile.admin{
		display: block;
	}
	.bottone.proiezioni.admin{
		display: none;
	}
}

@media screen and (max-width: 450px){
	*{
		font-size: 12pt;
	}

	#login_form #username_input, #login_form #password_input,
	#signup_form input[type="text"], #signup_form input[type="password"],
	#change_password input[type="password"], #edit_film textarea, #edit_film input[type="text"], #edit_film input[type="int"],
	#add_film textarea, #add_film input[type="text"], #add_film input[type="int"]{
		width: 15em;
	}
}

@media screen and (max-width: 330px){
	#login_form #username_input, #login_form #password_input,
	#signup_form input[type="text"], #signup_form input[type="password"],
	#change_password input[type="password"]{
		width: 100%;
	}
}
